:root{

    --dark-gray:#040708;
    --orange-peel:#FD9E03;
    --silver-chalise:rgb(176, 171, 165);
    --rust:#A43400;
}

body{
    background-color: var(--dark-gray);
    color: var(--silver-chalise);
    display: flex;
    height: 100%;
}

.hero{
    flex: 1;
    background: url(./car_img.jpg);
    background-size: cover;
    height: 100vh;
    
}

.hero> img{
    min-height: 150vh;
    opacity: 0.5;
}

.hero>div{
    position: relative;
    top: 30vh;
    color: white;
    background-color: rgba(176, 171, 165, 0.4);
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 15px 0;
}

.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    flex: 2;
}

.blurb{
    margin-top: calc(20vh + 30px);
    max-width: 50vw;
}

.blurb>h1{
    color: var(--rust);
    
}

.blurb>p{
    font-size: 1.5rem;
}

button{
    background-color: var(--rust);
    padding: 10px 20px;
}

button:hover{
    background-color: var(--orange-peel);
}

.form{
    margin-right: 50px;
    margin-left: 30px;
    max-width: 600px;
}
.form-control{
    padding: 5px 10px;
    margin: 4px;
}

input {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    width: 100%;
  }

  input:focus {
    box-shadow: 0 0 5px var(--rust);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid var(--rust);
    background-color: var(--orange-peel);
  }

  input:invalid:focus {
    border: 3px solid red;
  }

label{
    display: inline-block;
    width:80%;
    font-size: smaller;
    margin-top: 5px;
    margin-left: 5px;
    
}
.names, .password{
    display: flex;
    gap: 50px;
}

.field-confirm{
    margin-top: 30px;
    margin-left: 3px;
}

.error{
    color: var(--rust);
    margin-top: 5px;
}

.hidden{
    display: none;
}